@{
    Layout = null;
}

<div>jdncjwberhnjwebhnwejbnjwnejnwjenjwnen</div>
<form asp-controller="category" asp-action="create" method="POST">
    <input type="text" name="Name" />
    <input type="text" name="Description" />
    <input type="submit" value="View Report" />
</form>
